@media screen and (max-width:430px) {
    .frame {
        width: 320px;
        height: 180px;
    }
    .arrow {
        padding: 30px 0;
    }
    .image {
        width: 320px;
        padding: 12px;
    }
}
@media screen and (width>430px){
    .frame {
        width: 800px;
        height: 450px;
    }
    .arrow {
        padding: 165px 0;
    }
    .image {
        width: 760px;
        padding: 20px;
    }
}
* {
    font-family: monospace, sans-serif;
    margin: 0;
}
body {
    background-color: darkslategrey;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.top {
    display: flex;
    justify-items: center;
    align-content: center;
    cursor: pointer;
}
.arrow {
    height: 120px;
    width: 80px;
    cursor: pointer;
}
.frame {
    overflow: hidden;
}
.bottom {
    display: flex;
    gap: 30px;
}
.button {
    width: 15px;
    height: 15px;
    border-radius: 35%;
    border: 1px solid white;
    cursor: pointer;
}
#slider {
    display: flex;
    transition: all 1s ease;
}
h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    height: fit-content;
    padding-top: 20px;
    color: whitesmoke;
}
